body {

    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5572a;
}

main {
    margin: 0;
}

.page1 {
    min-height: 120vh;
    background-image: url(/img/bugatti-chiron-veyron.jpg);
    background-size: cover;
}

.page2 {
    min-height: 100vh;
}

.page3 {
    min-height: 100vh;
}

h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

.flex {
    display: flex;
}

a {
    border: solid black;
    padding :8px;
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

.logo {
    width: 80px;
}

.btnheader{

    gap: 100px;
}