body  {
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
}

header { 
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: rgb(255, 0, 0);
    margin: 0;
    margin-right: auto;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 150px;
}

.bouge {
    margin-left: auto;
}

main  {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 32px 64px;
}

img  {
    width: 100%;
}

.image  {
    width: 250px;
    padding: 10px;
}

.gauche{
    width: 40%;
}

.gras {
    font-weight: bolder;
}

.droite {
    background-color: #ffffff;
    padding: 16px;
    width: 320px;
}

.flex{
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
}

h3 { 
    margin: 1px;
    padding-bottom: 5px;
}

.prix {
    font-size: 32px;
}

input {
    border: none;
    font-size: 32px;
    width: 100%;
}

form {
    margin-top: 45px;
}

.border{
    border: 1px solid;
    font-size: 24px;
}
.border>div{
    padding: 8px;
}

[type=submit]{
    background: #ff0000;
    color: #FFF;
    margin-top: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.26);
    transition: 0.4s;
    transform: translate(-4px, -4px);
}
[type=submit]:hover{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.90); 
}

[type=submit]:active{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.90); 
    transform: translate(0, 0);
}