body {
    background-image: url(/img/bugatti-chiron-veyron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 20vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5572a;
    padding: 10px;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 150px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 32px 64px;
}

img {
    width: 100%;
}